header.c-navbar
  a.c-navbar__brand(href='#!')
    img(src='img/logo.png' alt="Dashboard's Logo")
  // Navigation items that will be collapes and toggle in small viewports
  nav#main-nav.c-nav.collapse
  ul.c-nav__list
    li.c-nav__item
      .c-field.c-field--inline.has-icon-right(class='u-hidden-up@tablet')
        span.c-field__icon
          i.fa.fa-search
        label.u-hidden-visually(for='navbar-search-small') Seach
        input#navbar-search-small.c-input(type='text' placeholder='Search')
    // // Navigation items
    .c-field.has-icon-right.c-navbar__search.u-ml-auto.u-mr-small(class='u-hidden-down@tablet')
      span.c-field__icon
        i.fa.fa-search
      label.u-hidden-visually(for='navbar-search') Search
      input#navbar-search.c-input(type='text' placeholder='Search')
    .c-dropdown.dropdown
      a#dropdwonMenuAvatar.c-avatar.c-avatar--xsmall.has-dropdown.dropdown-toggle(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
        img.c-avatar__img(src='img/avatar-72.jpg' alt="User's Profile Picture")
      .c-dropdown__menu.dropdown-menu.dropdown-menu-right(aria-labelledby='dropdwonMenuAvatar')
         a.c-dropdown__item.dropdown-item(href='#') Edit Profile
         a.c-dropdown__item.dropdown-item(href='#') View Activity
         a.c-dropdown__item.dropdown-item(href='#') Manage Roles
    button.c-nav-toggle(type='button' data-toggle='collapse' data-target='#main-nav')
      span.c-nav-toggle__bar
      span.c-nav-toggle__bar
      span.c-nav-toggle__bar
    // // .c-nav-toggle
