//-
  extends is a keyword in pug that
extends layout

block content
  .container
    .row
      .col-sm-12
        .u-mv-large.u-text-center
          h2.u-mb-xsmall Hi Jessica! Welcome back to the Dashboard.
          p.u-text-mute.u-h6
            | Check out your past searches and the content you&rsquo;ve browsed in.
            a(href='#') View last results
    .row
      .col-sm-12.col-lg-4
        .c-card.u-p-medium.u-text-center.u-mb-medium(data-mh='landing-cards' style='height: 301.333px;')
          img.u-mb-small(src='img/icon-intro1.svg' alt='iPhone icon')
          h4.u-h6.u-text-bold.u-mb-small
            | Check your performance. See the results of all your active campaings.
          a.c-btn.c-btn--info(href='#') Start new Campaign
      .col-sm-12.col-lg-4
        .c-card.u-p-medium.u-text-center.u-mb-medium(data-mh='landing-cards' style='height: 301.333px;')
          img.u-mb-small(src='img/icon-intro2.svg' alt='iPhone icon')
          h4.u-h6.u-text-bold.u-mb-small
            | Start console and prepare new stuff for your customers or community!
          a.c-btn.c-btn--info(href='#') View your reports
      .col-sm-12.col-lg-4
        .c-card.u-p-medium.u-text-center.u-mb-medium(data-mh='landing-cards' style='height: 301.333px;')
          img.u-mb-small(src='img/icon-intro3.svg' alt='iPhone icon')
          h4.u-h6.u-text-bold.u-mb-small
            | All Files ready?
            br
            | Start promoting your apps today.
          a.c-btn.c-btn--info(href='#') Start using Dashboar
